NEXT_PUBLIC_GATEWAY_URL=http://localhost:9080
BACKEND_INTERNAL_URL=http://backend:8080
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8081/realms/delivery-platform
KEYCLOAK_INTERNAL_URL=http://localhost:8081/realms/delivery-platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=frontend
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
NEXT_PUBLIC_API_MOCKING=disabled
