NEXT_PUBLIC_GATEWAY_URL=http://api.127.0.0.1.nip.io
BACKEND_INTERNAL_URL=http://backend:8080
NEXT_PUBLIC_KEYCLOAK_URL=http://auth.127.0.0.1.nip.io/realms/delivery-platform
KEYCLOAK_INTERNAL_URL=http://keycloak:8080/realms/delivery-platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=frontend
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
NEXT_PUBLIC_API_MOCKING=disabled
