APP_NAME=backend-api
ENVIRONMENT=dev
PORT=8080
LOG_LEVEL=info

DATABASE_URL=postgres://app:app@postgres:5432/entregamais?sslmode=disable
REDIS_ADDR=redis:6379
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=uploads
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

KEYCLOAK_ISSUER_URL=http://keycloak:8080/realms/delivery-platform
KEYCLOAK_AUDIENCE=backend-service
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/delivery-platform/protocol/openid-connect/certs
